
.task {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 311px;
  background-color: var(--task_background);
  border: 2px var(--task_border) ridge;
  border-radius: 20px;
}
.task input {
  margin-left: 6px;
  cursor: pointer;
}

.task p {
  text-align: center;
  font-size: 20px;
  color: black;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.iconsContainer img {
  align-self: flex-end;
  width: 35px;
  margin: 10px;
}
.iconsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
