.TasksContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.addTask {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.addTask button{
  color: var(--task_fotns);
}

.checkButtons {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.deleteAll {
  width: 180px;
  height: 40px;
  background-color: transparent;
  /* color: var(--task_fotns); */
  border-radius: 5px;
  margin-right: 15px;
}
.deleteAll:hover {
  background-color: #BB342F;
}

.checkAll {
  width: 180px;
  height: 40px;
  background-color: transparent;
  /* color: var(--task_fotns); */
  border-radius: 5px;
  margin-right: 15px;
}
.checkAll:hover {
  background-color: green;
}
