:root {
  --body_background: #2a3035;
  --task_background: #1282a2;
  --task_border: #034078;
  --task_fotns: white
}
body label{
  color: var(--task_fotns);
}
body {
  background-color: var(--body_background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
