.container {
  width: 400px;
  margin: auto;
  height: 400px;
  background-color: var(--task_background);
  color: var(--task_fotns);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px var(--task_border) ridge;
  border-radius: 50px;
}
.container p {
  padding: 20px;
}
.container div {
  height: 100vh;
}
.container button{
  color: var(--task_fotns);
}